html,
body {
  font-size: 24px;
  margin: 0;
  padding: 0;
}

.box {
  height: 20rem;
  width: 20rem;
  border: 1rem solid red;
  overflow: hidden;
}

.box-numbers {
  font-size: 10rem;
  width: 50%;
  text-align: center;
  word-break: break-all;
  line-height: 20rem;
  transform: translate(50%, 0);
}
