html,
body {
  font-size: 12px;
  margin: 0;
  padding: 0;
}

.box {
  height: 20rem;
  width: 20rem;
  border: 1rem solid red;
  overflow: hidden;
}

.box-number-list {
  margin: 0;
  padding: 0;
  transition: transform 0.8s 0s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.box-number-item {
  font-size: 10rem;
  text-align: center;
  line-height: 20rem;
  height: 20rem;
}
