body {
  font-size: 0;
}
.lucky-box {
  height: 5rem;
  width: 3.09rem;
  font-size: 2.5rem;
  line-height: 5rem;
  border: 0.1rem solid red;
  overflow: hidden;
  display: inline-block;
  user-select: none;
  font-family: Helvetica;
}

.lucky-box-numbers {
  cursor: pointer;
  width: 50%;
  text-align: center;
  word-break: break-all;
  transform: translate(50%, 0);
}
