.lucky-box-wrapper {
  font-size: 0;
  color: #fff;
  display: inline-block;
}

.lucky-box {
  height: 5rem;
  width: 3.09rem;
  font-size: 2.5rem;
  line-height: 5rem;
  border-top: 0.5rem solid white;
  border-bottom: 0.5rem solid white;
  overflow: hidden;
  display: inline-block;
  user-select: none;
  font-family: Helvetica;
}

.lucky-box-numbers {
  cursor: pointer;
  width: 50%;
  text-align: center;
  word-break: break-all;
  transform: translate(50%, 0);
  text-shadow: 0 0 1rem #ccc;
}

.lucky-box-numbers[noscroll] {
  color: #eee;
  text-shadow: none;
}
